<h1>Jobs I've Held</h1>

<p>Here are all the jobs I've had:</p>
<% counter = 0 %>
<% if @all_jobs != nil %>
<table>
  <% @all_jobs.each() do |job| %>

  <tr>
    <dl>
      <td>
        <dt><%= job[0] %></dt>
          <dd>-<%= job[1] %></dd>
          <dd>-<%= job[2] %></dd>
      </td>
      <form action='/delete' method=post>
      <td>
     <input type = 'submit' name='button_id' value='delete'>
    <%= "<input type='hidden' value=#{counter} name='hidden_num'>" %>
  </form>
    </dl>
  </tr>
      <% end %>
      <% end %>
</table>

<p>Name a job you've been at:</p>

  <form action ="/results" method="post">
  <label for="title">Title</label>
  <input id="title" name="title" type="text">

  <label for="duties">Duties</label>
  <input id="duties" name="duties" type="text">

  <label for="years">Years</label>
  <input id="years" name="years" type="text">

  <button type="submit">Add Job!</button>
</form>

  <form action ="/clear" method="post">
  <button type="submit">Clear Job History</button>
  </form>
